.line-1 {
    position: relative;
    top: 50%;  
    max-width: 24em; /* Use max-width instead of width */
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    font-family: 'Anonymous Pro', monospace;
    color: rgba(255,255,255);
    font-size: 100px;
    font-weight: bold;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from { max-width: 0; }
  to { max-width: 24em; } /* Animate max-width to stop the cursor */
}
@keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}