/* Instances.css */

.instances-body {
  background-color: black;
  color: #fff;
}

.instances-container {
  margin: 20px;
}

.instances-h1 {
  color: #03b5aa;
}

.instances-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

.instances-th,
.instances-td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.instances-th {
  background-color: #03b5aa;
  color: #fff;
}

.instances-tr:hover {
  background-color: #444;
}

/* Styles for the modal */

/* Update the styles for modal overlay and content */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Darken the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 50px; /* Increase padding for better spacing */
  border: 1px solid #ddd; /* Lighter border */
  border-radius: 10px; /* Rounder corners */
  color: #333; /* Darker text color */
  width: 500px; /* Wider modal */
  text-align: left;
}

/* Styles for the buttons inside the modal content */
.modal-content button {
  background-color: #03b5aa; /* Light blue */
  color: #fff;
  padding: 12px;
  margin-top: 15px; /* More spacing between buttons */
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #028e80; /* Darker blue on hover */
}

.add-instances-button {
  background-color: #03b5aa;
  color: #fff;
  padding: 12px;
  margin-top: 15px; /* More spacing */
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-instances-button:hover {
  background-color: #028e80;
}

/* Add this style for code blocks inside the modal content */
.modal-content pre {
  background-color: #f8f8f8;
  padding: 15px; /* Increase padding for code blocks */
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
}
